* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #2c3e50;
  --secondary: #bdc3c7;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--secondary); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--primary),
    var(--secondary)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--primary),
    var(--secondary)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #111;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

/* Main image styling*/

#img-div {
  position: relative;
  overflow: hidden;
  height: 50vh;
  /* margin-bottom: 0.7rem; */
}

#img-div #image {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: blur(0.08rem);
  border-radius: 0.1rem;
}

#img-div .after {
  /* Overlay */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.05)
  );
  border-radius: 0.1rem;
}

#img-div > .after > h1,
#img-div > .after > #img-caption > p {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  color: var(--secondary);
}

#img-div > .after > h1 {
  font-size: 3.3rem;
}

#img-div > .after > #img-caption > p {
  font-size: 1.5rem;
}
#img-div > .after > #img-caption > p:last-of-type {
  font-size: 1rem;
}

/* =============== */

/* Small bio section / tribute info*/

#tribute-info {
  display: flex;
  flex-flow: row wrap;
}

#tribute-info div {
  order: 1;
  padding: 2.2rem;
  /* height: 50vh; */
}

#tribute-info p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

#tribute-info aside {
  order: 2;
}

#tribute-info img {
  height: 50vh;
  width: 100vw;
  object-fit: cover;
  object-position: center;
}

/* ============ */

/* Footer */

footer {
  background-color: var(--primary);
  text-align: center;
  font-size: 0.9rem;
  padding: 0.4rem;
}
