* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #2c3e50;
  --secondary: #bdc3c7;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--secondary); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--primary),
    var(--secondary)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--primary),
    var(--secondary)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #111;
}

.block-of-text {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 2.2rem;
  text-align: center;
}

.after {
  /* Overlay */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.05)
  );
}

h2 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 1rem;
}

img {
  height: 50vh;
  width: 100vw;
  object-fit: cover;
  object-position: center;
  box-shadow: 0px 0px 15px 0px var(--primary);
}

a {
  text-decoration: none;
  color: var(--secondary);
}

a:hover {
  /* transition: all 1s; */
  text-decoration-line: underline;
}

/* Main image styling*/

#img-div {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

#img-div #image {
  height: 100%;
  filter: blur(0.08rem);
  border-radius: 0.1rem;
}

#img-div .after {
  /* Overlay */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.9rem;
}

#img-div .after h1,
#img-div .after #img-caption h2,
#img-div .after #img-caption h3 {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  color: var(--secondary);
}

#img-div .after h1 {
  font-size: 3.3rem;
}

#img-div .after #img-caption h2 {
  font-size: 1.5rem;
  margin-top: -0.3rem;
  margin-bottom: 0.9rem;
}
#img-div .after #img-caption {
  font-size: 1rem;
}

/* =============== */

/* Small bio section / tribute info*/

#tribute-info {
  display: flex;
  flex-flow: row wrap;
}

#tribute-info div {
  order: 1;
}

#tribute-info aside {
  width: 100%;
  order: 2;
}

/* ============ */

/* Album section */

#album p span {
  display: inline-block;
  margin-top: 0.5rem;
}

#album iframe {
  height: 50vh;
  width: 100%;
  padding: 0.8rem;
}

#album .block-of-text {
  flex-direction: column;
  margin: auto;
}

/* =========== */

/* Footer */

footer {
  background-color: var(--primary);
  text-align: center;
  font-size: 0.9rem;
  padding: 0.4rem;
}

/* ===== MEDIA QUERIES ===== */
/* Tablets */

@media (min-width: 481px) {
  #tribute-info img,
  #album img {
    width: auto;
    display: block;
    margin: 0 auto;
  }

  #album iframe {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}
/* Normal */

@media (min-width: 769px) {
  /* Tribute info */

  #tribute-info {
    margin-top: 2rem;
    flex-flow: row nowrap;
  }

  #tribute-info .block-of-text {
    color: var(--secondary);
    flex: 1.5;
    text-shadow: 0 0 10px var(--primary);
  }

  #tribute-info aside {
    flex: 1;
  }

  #tribute-info aside img {
    height: 100%;
    width: 100%;
  }

  /* ====== */

  /* Album */

  #album {
    display: grid;
    grid-template-areas:
      "acover info"
      "acover playlist";
  }

  #album .block-of-text {
    color: var(--primary);
    grid-area: info;
  }

  #album iframe {
    grid-area: playlist;
    height: 330px;
    width: 100%;
    padding-right: 0;
  }

  #album img {
    height: auto;
    width: 100%;
    margin: auto;
    grid-area: acover;
  }
}

/* Large screens  */
@media (min-width: 1025px) {
  #album img,
  #tribute-info aside img {
    max-height: 50vh;
    width: auto;
  }

  #album {
    grid-template-columns: auto minmax(25%, 50%);
    margin-right: 4%;
    margin-top: 4%;
  }
}
